@charset "utf-8";

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("./assets/font/PretendardVariable.woff2") format("woff2-variations"),
    url("./assets/font/PretendardVariable.woff") format("woff-variations");
}

body {
  margin: 0;
  background-color: #f2f5f7;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 414px;
  background-color: #fff;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
